@model Poképedia.Mvc.Models.HomeViewModel

<h2>Pokemon List</h2>

@if (Model != null)
{
    <div class="container-fluid content-row">
        <div class="row">
            <div class="row gx-4 ">

                @if (Model.Results is null)
                {
                    <p>Failed to fetch Pokemon data.</p>
                    <p>You can't go to a previous or next page anymore</p>
                    <a href="@Url.Action("Index", "Home")">Return to home</a>
                }
                else
                {
                    @foreach (var pokemon in Model.Results)
                    {
                        <div class="col-lg-2 col-md-6" style="margin-bottom: 20px;">

                            <p style="text-align:center; margin-top: 20px">
                                <img class="img-thumbnail" src="@pokemon.Image" alt="@pokemon.Image" hidden="@Model.disabled" />
                            </p>
                            <div class="card-body text-center">
                                <h5 class="card-title mb-6">
                                    <a href="@Url.Action("Details", "Home", pokemon)'">@pokemon.Name</a>
                                </h5>
                            </div>
                        </div>
                    }

                    @if (Model.Results.Count > 0 && Model.Results[0].Url != null)
                    {
                        <span>
                            <a style="float: left" href="@Url.Action("PreviousPage", "Home")">Previous Page</a><a style ="float: right" href="@Url.Action("NextPage", "Home")">Next Page</a>
                        </span>
                    }
                }
            </div>
        </div>
    </div>
}
else
{
    <p>Failed to fetch Pokemon data.</p>
}